@charset "utf-8";
@import "variables";
@import "mixin";
@import "destyle.css";
@import "foundation";

.c-svg {
  fill: currentColor;
  display: inline-block;
  vertical-align: top;
}

.c-en {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
